<form>
        <div class="input-group mb-3">
                <input id='sender' placeholder="name" autocomplete="off" class="form-control col-sm-2  col-xs-2">
                <input type="text" id="message" autocomplete="off" class="form-control" placeholder="Message..." aria-label="Message...">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Send</button>
                </div>
        </div>
    </form>