<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
        <div class="siteContainer">
        <header>
                <h2 class="display-5"><%= pageHeader %></h2>
        </header>
        <main>
            <ul id="messages">
                <% if(rooms.length) { %>
                    <% rooms.forEach(function(room) { 
                            var link = 'http://localhost:2002/messages/' + room.name;
                        %>
                        <li>
                            <strong><a href="<%= link %>"><%= room.name %></a></strong>
                            <span class="small"><%= room.extra %></span>
                        </li>
                      <%  }); %>
                <% } %>
            </ul>
        </main>
    </div>
    <% include partials/templates/footerScripts.ejs %>
    <script src="js/chatroom.js"></script>
</body>
</html>