<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
        <div class="siteContainer">
            <header>
                    <h2 class="display-5"><%= pageHeader %></h2>  
            </header>
        <main>
            <ul id="messages">
                    <% if(messages.length) { %>
                        <% messages.forEach(function(message) { %>
                            <li>
                                <strong><%= message.name %></strong>:
                                <span><%= message.message %></span>
                            </li>
                          <%  }); %>
                    <% } %>
            </ul>
        </main>
        <footer>
                <% include partials/contents/chatForm.ejs %>
        </footer>
    </div>
    <% include partials/templates/footerScripts.ejs %>
    <script src="/js/messenger.js"></script>
</body>
</html>